 /* the reset code for the browser */
 * {margin: 0; padding: 0; } html, body, div, span, applet, object, iframe, h1, h2, h3, h4, label, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
 body {font-family: Domine;text-align: center;    overflow-y: scroll;overflow-x: hidden;margin: 0 auto;scroll-behavior: smooth}
 .table {display: table;}
 .table-c {display: table-cell;vertical-align: middle;}
 .p-1{padding:1rem} .p-2{padding:2rem} .p-3{padding:3rem} .p-4{padding:4rem} .p-5{padding:5rem} .p-6{padding:6rem} .p-7{padding:7rem} .pt-1{padding-top:1rem} .pt-2{padding-top:2rem} .pt-3{padding-top:3rem} .pt-4{padding-top:4rem} .pt-5{padding-top:5rem} .pt-6{padding-top:6rem} .pt-7{padding-top:7rem} .pl-1{padding-left:1rem} .pl-2{padding-left:2rem} .pl-3{padding-left:3rem} .pl-4{padding-left:4rem} .pl-5{padding-left:5rem} .pl-6{padding-left:6rem} .pl-7{padding-left:7rem} .pr-1{padding-right:1rem} .pr-2{padding-right:2rem} .pr-3{padding-right:3rem} .pr-4{padding-right:4rem} .pr-5{padding-right:5rem} .pr-6{padding-right:6rem} .pr-7{padding-right:7rem} .pb-1{padding-bottom:1rem} .pb-2{padding-bottom:2rem} .pb-3{padding-bottom:3rem} .pb-4{padding-bottom:4rem} .pb-5{padding-bottom:5rem} .pb-6{padding-bottom:6rem} .pb-7{padding-bottom:7rem} .m-1{margin:1rem} .m-2{margin:2rem} .m-3{margin:3rem} .m-4{margin:4rem} .m-5{margin:5rem} .m-6{margin:6rem} .m-7{margin:7rem} .mt-1{margin-top:1rem} .mt-2{margin-top:2rem} .mt-3{margin-top:3rem} .mt-4{margin-top:4rem} .mt-5{margin-top:5rem} .mt-6{margin-top:6rem} .mt-7{margin-top:7rem} .ml-1{margin-left:1rem} .ml-2{margin-left:2rem} .ml-3{margin-left:3rem} .ml-4{margin-left:4rem} .ml-5{margin-left:5rem} .ml-6{margin-left:6rem} .ml-7{margin-left:7rem} .mr-1{margin-right:1rem} .mr-2{margin-right:2rem} .mr-3{margin-right:3rem} .mr-4{margin-right:4rem} .mr-5{margin-right:5rem} .mr-6{margin-right:6rem} .mr-7{margin-right:7rem} .mb-1{margin-bottom:1rem} .mb-2{margin-bottom:2rem} .mb-3{margin-bottom:3rem} .mb-4{margin-bottom:4rem} .mb-5{margin-bottom:5rem} .mb-6{margin-bottom:6rem} .mb-7{margin-bottom:7rem}
 .grid-container {display: grid;grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% ;grid-template-rows:  40px auto}
 *{transition: .5s}
 textarea:focus, input:focus{ outline: none;}
 /* more secure code */
.disable{ display: none !important;}
.bn{}
.logoimg{}
.success_message{}
.error_message{}
 
 
 /* the social icons */
 .facebook a  {background: url(../icons/social-4/facebook.svg) }
 .twitter a  {background: url(../icons/social-4/twitter.svg) }
 .google a  {background: url(../icons/social-4/google.svg) }
 .instagram a  {background: url(../icons/social-4/instagram.svg) }
 .linkedin a  {background: url(../icons/social-4/linkedin.svg) }
 .youtube a  {background: url(../icons/social-4/youtube.svg) }
 .pinterest a  {background: url(../icons/social-4/pinterest.svg) }
 .icons a {width: 30px;height: 30px;display: block; background-repeat: no-repeat;background-position: center;margin: 10px}
 .icons a:hover  {width: 40px;height: 40px;margin: 5px}
 
 /* the ads classes  */
 .ad30x25 , .ad30x10 ,  .ad30x60 { display: none }
 
 
 
 
 /* no major change */
 .logo img {width: 20rem;max-width: 80%;margin-bottom: -10px; max-height: 60px;}
 .icons svg {width: 25px;color: #999}
 .icons div { display: inline-block;}
 iframe  {width: 100%;height: 100%}
 p {line-height: 1.5}
 
 #map {height: 20rem}
 /* the custom code */
 
 
 
 
 /* the grid  */
 header {grid-column: 1/11;grid-row: 1/6;}
 .logo { grid-column: 2/6;grid-row: 1;}
 nav {grid-column: 8/10;grid-row: 1}
 .headline {grid-column: 1/8;grid-row: 3;z-index: 1}
 .p-one {grid-column: 4/9;grid-row: 6}
 .p-two {grid-column: 4/9;grid-row: 7}
 form {grid-column: 4/9;grid-row: 8}
 .icons{grid-column: 9/11;grid-row: 8}
 aside {grid-column: 4/7;grid-row: 9}
 address {grid-column: 7/10;grid-row: 9}
 #map {grid-column: 1/11;grid-row: 11}
 footer {grid-column: 1/11;grid-row: 12 ;z-index: 2;}
 
 
 
 @font-face {font-family: f-b;src: url(../fonts/cormorant-b.ttf);}
 @font-face {font-family: f-l;src: url(../fonts/cormorant-l.ttf);}
 @font-face {font-family: f-r;src: url(../fonts/cormorant-r.ttf);}
 body {font-family: f-r ; background-color: #fff}
 nav {    padding-top: 10px;}
 nav a {color: #dbe9ee;text-decoration: none; font-family: arial;text-transform: uppercase;line-height: 2;margin: 0 10px;padding: 0px 5px ;}
 
 header {height:80vh;clip-path: polygon(0 0, 100% 0, 100% 80%, 0 89%);z-index: 0;background: #2f3194}
 
 nav { position: fixed;top: 0;right: 0;width: 50%;background: #2f3194;height: 50px;text-align: center;z-index: 5;}
 .logo {
         position: fixed;
 top: 0;z-index: 5;
 left: 0;
 width: 50%;
 background: #2f3194;height: 60px;text-align: center;
 }
 
 h2:before {
     content: '';
     display: block;
     background: red;
     color: #fff;
     width: 100px;
     height: 2px;margin: 0 auto;
     margin-bottom: 1rem;
 }
 header:hover { opacity: 1}
 .logo h3 { 
 font-size: 1em;
 padding: 1em .5em;
     color: #dbe9ee; 
     font-weight: 800; 
     letter-spacing: 0.225em;
     text-transform: uppercase;
 }
 .p-two p ,address p  {
     padding-bottom: 7rem
 }
 #map {
     padding-top: 3rem
 }
 .icons  {z-index: 1;}
 .icons  h4 {display: none;}
 .icons div {display: block;}
 
  h1 {
 font-size: calc(2vw + 15px);
 margin: 0 auto;
 color: #dbe9ee;
 text-transform: uppercase;
 padding-top: 2rem;
 display: inline-block;}
 h2 {max-width: 90%;margin: 0 auto;padding: 1vw 0 .5vw 0;color: #dbe9ee;font-size: calc(1vw + 10px);}
 
 body .ahr{
     grid-column: 1/8;
 grid-row: 4;
 margin-top: 3vh
 }
 
 body section a {
     text-decoration: none;
     z-index: 99999;
 position: relative;
 }
 body .ahr a::after {
 content: 'read more';
 color:#000;
 padding: 10px 30px ;
 text-transform: capitalize;
 text-decoration: none;
 /*! letter-spacing: 2px; */
 transition: 2s;
 padding: 7px 40px;
 margin: 50px 0;
 border-radius: 14px;
 border: none;
 background: #ef476f;
 color: #fff;
 text-align: center;
 font-weight: 600;
 max-width: 120px;
 box-shadow: 0px 0px 4px #ef476f;
 cursor: pointer;
 }
 body .ahr a:hover::after {
     /*! padding: 15px 40px; */
     transition: .4s;
     /*! letter-spacing: 3px */
     background-color: #0fb7c6;
     box-shadow: 0px 0px 4px #0fb7c6;
 }
 
 
 
 
  h4 {    margin-left: -200px;
         font-size: 48px;
     padding-bottom: 9px;text-align: left;
 }
 
 
  h4:before {
         content: '';
     background: #0fb7c6;
     height: 3px;
     position: absolute;
     width: 6%;
     margin: 70px 0 0 0px;}
     article {
         display: table;
     } 
 article p {
     color: #666;
 }
 
 
 
 
 article p  , address p , aside p {
     font-family: f-l;
     text-align: left;
     font-size: calc(9px + .5vw);}
 /* .breakline-three {height: 200px;
 background-image: url('imgs/footer.svg');
 background-repeat: no-repeat;
 background-size: cover;z-index: 0;
 margin-top: -150px; margin-left: -50%;margin-right: -50%} */
 
 address  , aside , form
 {
     padding: 3rem 0
 }
 address h4  , aside h4 , form h4 {
     font-size: 50px;text-align: left;
 }
 
 footer {
         text-align: center;
     background: #2f3194;
     font-size: 16px;
     padding: 10px 0;
     color: #fff;font-family: f-l
 }
 footer a {
     color: #48967b;
  font-family: f-r;   text-decoration: none;
     cursor: pointer;}
 form label {display: none;}
 form p {text-align: left;font-size: 15px;
 color: #3bb728;}
 form {
     width: 80%;
 text-align: left;
 }
 form input , form textarea  {
     width: calc(100% - 20px);
 padding: 10px 10px;
 margin: 10px 0;
 border: 1px solid #d5d5d5;
 border-radius: 2px;}
 form .submit-div input {
     text-align: right;
     padding: 7px 40px;
     margin: 50px 0;
     border-radius: 14px;
     border: none;
     background: #ef476f;
     color: #fff;text-align: center;
     font-weight: 600;max-width: 120px;
     box-shadow: 0px 0px 4px #ef476f;
     cursor: pointer;float: right;
 }
 form .submit-div input:hover {
     background-color: #0fb7c6;
     box-shadow: 0px 0px 4px #0fb7c6;
 
 }
 form textarea {
     min-height: 150px
 }

/* the arabic code  */
body {direction: rtl;}
@font-face {font-family: c-r;src: url(../fonts/ballpoint.ttf);}
@font-face {font-family: c-b;src: url(../fonts/neosansarabic.ttf);}
p , a , input , textarea {letter-spacing: 0px !important;font-family: c-b !important}
h1 , h2 , h3 , h4 , label , h6 , span {letter-spacing: 0px !important;font-family: c-r !important}
h1 {line-height: 40px;}
article p, address p, aside p {text-align: right;line-height: 1.5;}
h4 {text-align: right; line-height: 90px; }
address h4, aside h4, form h4 {text-align: right;}
body .ahr a::after {
    content: 'اقرأ المزيد';
}
/* the responsive code  */

@media screen and (max-width: 960px ){
	h4 {
    margin-left: -100px;
}
nav a {
	font-size: calc(.2vw + 10px);padding: 0}
}
@media screen and (max-width: 750px ){
	p {
        font-size: 18px !important;
    }
	nav {display: none;}
	.logo {
		width: 100%
	}
	.headline ,
    body .ahr 
    
    {
    grid-column: 2/10;}
    .p-one , .p-two {
    grid-column: 2/10;}
    .p-one p , .p-two p {font-size: 15px;text-align: center;padding-top: 10px}


    h4 {text-align: center;margin: 0}
    form {grid-column: 2/10;width: 100%}
    .icons {grid-column: 1/11; grid-row: 11}
    .icons div {display: inline-block;}
    aside {grid-column: 2/10; grid-row: 9;text-align: center;}
    address {grid-column: 2/10; grid-row: 10;text-align: center;}
    aside p , address p {display: inline-block;font-size: 15px; text-align: center;}
    aside h4 , address h4 , form h4 { text-align: center;}
	#map {margin-top: 4rem }


     }

@media screen and (max-width: 450px ) {


		footer h6 {
			font-size: 10px
		}

}