 /* the reset code for the browser */
* {margin: 0; padding: 0; } html, body, div, span, applet, object, iframe, h1, h2, h3, h4, label, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
body {text-align: center;    overflow-y: scroll;overflow-x: hidden;margin: 0 auto;scroll-behavior: smooth}
.table {display: table;}
.table-c {display: table-cell;vertical-align: middle;}
.p-1{padding:1rem} .p-2{padding:2rem} .p-3{padding:3rem} .p-4{padding:4rem} .p-5{padding:5rem} .p-6{padding:6rem} .p-7{padding:7rem} .pt-1{padding-top:1rem} .pt-2{padding-top:2rem} .pt-3{padding-top:3rem} .pt-4{padding-top:4rem} .pt-5{padding-top:5rem} .pt-6{padding-top:6rem} .pt-7{padding-top:7rem} .pl-1{padding-left:1rem} .pl-2{padding-left:2rem} .pl-3{padding-left:3rem} .pl-4{padding-left:4rem} .pl-5{padding-left:5rem} .pl-6{padding-left:6rem} .pl-7{padding-left:7rem} .pr-1{padding-right:1rem} .pr-2{padding-right:2rem} .pr-3{padding-right:3rem} .pr-4{padding-right:4rem} .pr-5{padding-right:5rem} .pr-6{padding-right:6rem} .pr-7{padding-right:7rem} .pb-1{padding-bottom:1rem} .pb-2{padding-bottom:2rem} .pb-3{padding-bottom:3rem} .pb-4{padding-bottom:4rem} .pb-5{padding-bottom:5rem} .pb-6{padding-bottom:6rem} .pb-7{padding-bottom:7rem} .m-1{margin:1rem} .m-2{margin:2rem} .m-3{margin:3rem} .m-4{margin:4rem} .m-5{margin:5rem} .m-6{margin:6rem} .m-7{margin:7rem} .mt-1{margin-top:1rem} .mt-2{margin-top:2rem} .mt-3{margin-top:3rem} .mt-4{margin-top:4rem} .mt-5{margin-top:5rem} .mt-6{margin-top:6rem} .mt-7{margin-top:7rem} .ml-1{margin-left:1rem} .ml-2{margin-left:2rem} .ml-3{margin-left:3rem} .ml-4{margin-left:4rem} .ml-5{margin-left:5rem} .ml-6{margin-left:6rem} .ml-7{margin-left:7rem} .mr-1{margin-right:1rem} .mr-2{margin-right:2rem} .mr-3{margin-right:3rem} .mr-4{margin-right:4rem} .mr-5{margin-right:5rem} .mr-6{margin-right:6rem} .mr-7{margin-right:7rem} .mb-1{margin-bottom:1rem} .mb-2{margin-bottom:2rem} .mb-3{margin-bottom:3rem} .mb-4{margin-bottom:4rem} .mb-5{margin-bottom:5rem} .mb-6{margin-bottom:6rem} .mb-7{margin-bottom:7rem}
.grid-container {display: grid;grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% ;grid-template-rows:  40px auto}
 body * {transition: .5s }
textarea:focus, input:focus{ outline: none;}

/* more secure code */
.disable{ display: none !important;}
.bn{}
.logoimg{}
.success_message{}
.error_message{}

/* the social icons */
.facebook a  {background: url(../icons/social-7/facebook.svg) }
.twitter a  {background: url(../icons/social-7/twitter.svg) }
.google a  {background: url(../icons/social-7/google.svg) }
.instagram a  {background: url(../icons/social-7/instagram.svg) }
.linkedin a  {background: url(../icons/social-7/linkedin.svg) }
.youtube a  {background: url(../icons/social-7/youtube.svg) }
.pinterest a  {background: url(../icons/social-7/pinterest.svg) }
.icons a {width: 30px;height: 30px;display: block; background-repeat: no-repeat;background-position: center;margin: 5px;opacity: 1;}
.icons a:hover  {margin: 0px;opacity: 1;width: 40px;height: 40px}

/* the ads classes  */
.ad30x25 , .ad30x10 ,  .ad30x60 { display: none }



/* no major change */
.logo img {max-width: 80%;max-height: 60px;margin: 10px; }
.icons svg {width: 25px;color: #999}
.icons div { display: inline-block;}
iframe  {width: 100%;height: 100%}
#map {height: 20rem}
nav a {color: #000;}
a {text-decoration: none}
form .submit-div input {cursor: pointer;}
/* the custom code */


@font-face {font-family: f-b;src: url(../fonts/lilitaone-b.ttf);}
@font-face {font-family: f-r;src: url(../fonts/teko-r.ttf);}
@font-face {font-family: f-s;src: url(../fonts/alger.ttf);}
@font-face {font-family: f-l;src: url(../fonts/anaheim-l.ttf);}
body {font-family: f-l;background-color: #f1f4f8;}


/* the grid  */
header {grid-column: 1/11;grid-row: 1/3;z-index: -1}
nav {grid-column: 6/10;grid-row: 1;z-index: 999}
.logo { grid-column: 2/6;grid-row: 1;}
.headline {grid-column: 6/10;grid-row: 2;z-index: 1}
.p-one {grid-column: 4/8;grid-row: 4;}
.p-two {grid-column: 4/8;grid-row: 5;}
.icons{grid-column: 10/11;grid-row: 1}
form {grid-column: 4/8;grid-row: 6}
#map {grid-column: 1/6;grid-row: 10/12}
address {grid-column: 6/11;grid-row: 10}
aside {grid-column: 6/11;grid-row: 11}
footer {grid-column: 1/11;grid-row: 12}




header{
    height: 80vh;
background: url(imgs/header.jpg);
background-position: top;
background-repeat: no-repeat;
background-size: cover;
}
.logo {
    text-align: left
}
.logo h3 {padding-top: 20px;
    color: #15656e;
font-size: 45px;
font-weight: 100;
text-transform: capitalize;
}
nav {padding-top: 20px;
    text-align: right;}
nav a {font-size: 20px;padding: 10px}
nav a:nth-child(1) {display: none}



.headline div {text-align: left;
}
.headline h1 {
    padding-top: 20vh;
    font-weight: 100;
font-size: 50px;
text-transform: uppercase;
color: #15656e;
font-family: f-b;line-height: 40px;
    font-weight: 900;
}
.headline h2 {
	padding: 0 10px;text-transform: uppercase;
    font-family: f-r;
    /*! letter-spacing: 10px; */
    color: #546f84;
}



body .ahr{
    grid-column: 1/11;
grid-row: 3;
/*! margin-bottom: 25vh; */
/* text-align: left; */
/* margin-left: 10%; */
    background: #15656e;
    height: 20vh;display: table;
    text-align: center;
}

body section a {
    text-decoration: none;
    z-index: 9;
position: absolute;
    /*! padding: 10px 0 !important; */
    margin: 10px 0 !important;
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto !important;
    width: 100%;
    height: 20vh;
}
body .ahr a::before{
    content: "";
    width: auto;height: 7vh;
    background-image: url(imgs/whatsapp.svg);
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px auto;
      }

body .ahr a::after {
content: 'for delivery';
color:#fff;
/*! padding: 10px 30px ; */
text-transform: capitalize;
text-decoration: none;
/*! letter-spacing: 2px; */
transition: .1s;
/*! margin: 1rem; */
/*! border-bottom: 2px solid #e19c20; */
/*! font-weight: 100; */
font-family: f-l;
/*! padding: 20px 0; */
font-family: f-r;
display: inline-block;
font-size: 30px;
}
body .ahr a:hover::after {
    /*! padding: 15px 40px; */
    transition: .4s;
    /*! letter-spacing: 3px */
}










 h4 , form label {display: none;}
article  {text-align: left;z-index: 9}

article p:nth-child(2) {
border-left: 3px solid #5e7481;margin-top: 10rem;
border-top: 3px solid #5f7281;margin-left: -5vw;text-align: justify;
padding: 30px;
}

article p:nth-child(1) {
border-right: 3px solid #5e7481;margin-bottom: 10rem;
border-bottom: 3px solid #5f7281;margin-right: -5vw;text-align: justify;
padding: 60px 30px 30px 30px;
}



p {
    font-family: f-l;font-size: 20px
}

.icons {z-index: 9;position: fixed;top: 0;right: 0;}

.icons div {text-align: right;display: block;padding: 10px;} 


address ,
aside {z-index: 3;text-align: left; padding: 0 10px 0 10px}

form {background: #f1f4f8;}

form textarea  , form input {
border: none;
background: transparent;
border-bottom: 2px solid #15656e;
}
 form input {
    width: 100%;
    padding-bottom: 8px;padding-top: 10px;
 }
  form .left-input input:nth-child(6) {
    width: 100%
  }

form h4 , address h4 ,
aside h4 {
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 3px;
    text-align: left;
    color: #15656e;padding-left: 10px
}
aside h4:before {
content: '';
background: #999;
display: inline-block;
height: 2px;
width: 100px;
position: absolute;
left: 60%;
margin-left: -50px;
margin-top: -5px;
}
form textarea  {
    padding-bottom: 135px;
width: 100%;
margin: 15px auto;
}

.submit-div input {
    text-align: center;float: right;
    width: 100px;
    border: none;
    background: #15656e;
    padding: 5px;
    margin: 10px 5% 15px 0;
    color: #fff;}
#map , address {
    margin-top: 10rem;
}
form p  {color: #15656e;margin: 10px 0 0 0}
footer {text-align: center; background: #111; font-size: 16px; padding: 10px 0; color: #999;} 
footer a {color: #fff}




/* the responsive code   */



@media screen and (max-width:1500px) {

}

@media screen and (max-width:1200px) {

p {font-family: f-l; font-size: 17px; }
}

@media screen and (max-width:960px) {
.p-one , .p-two {grid-column: 3/9;}
form {grid-column: 3/9;}

#map {grid-column: 1/7;grid-row: 10/12}
address {grid-column: 7/10;grid-row: 10}
aside {grid-column: 7/10;grid-row: 11}

nav {display: none; }
.headline h1 {    font-size: 40px;}
h3  {font-size: 35px;}
}
@media screen and (max-width:650px) {
body ,  h1 , h2 , h3 , h4 , label , h6 , p  {text-align: center;}
.headline {  grid-column: 2/10;}
header {background-position: center bottom; background-size: contain;background-color: #a5d9f1;}
article p {margin-right: unset !important ;margin-left: unset !important }
.p-one, .p-two {grid-column: 2/10; }

.icons {
    right: unset;
    left: 0;
}

.icons div {padding: 5px;}

#map {grid-column: 1/11;grid-row: 12}
address {grid-column: 2/10;grid-row: 10}
aside {grid-column: 2/10;grid-row: 11}
footer { grid-row:13; }
form {grid-column: 2/10; } 
form {margin-bottom:  1rem; }
address {margin-top: 1rem; }
form input {
    padding-bottom: 13px;
    padding-top: 13px;
}

.logo {
    grid-column: 2/10;
    grid-row: 1;
}

}

