 /* the reset code for the browser */
* {margin: 0; padding: 0; } html, body, div, span, applet, object, iframe, h1, h2, h3, h4, label, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
body {text-align: center;    overflow-y: scroll;overflow-x: hidden;background: #F9F9F9;margin: 0 auto;scroll-behavior: smooth;}
.table {display: table;}
.table-c {display: table-cell;vertical-align: middle;}
.p-1{padding:1rem} .p-2{padding:2rem} .p-3{padding:3rem} .p-4{padding:4rem} .p-5{padding:5rem} .p-6{padding:6rem} .p-7{padding:7rem} .pt-1{padding-top:1rem} .pt-2{padding-top:2rem} .pt-3{padding-top:3rem} .pt-4{padding-top:4rem} .pt-5{padding-top:5rem} .pt-6{padding-top:6rem} .pt-7{padding-top:7rem} .pl-1{padding-left:1rem} .pl-2{padding-left:2rem} .pl-3{padding-left:3rem} .pl-4{padding-left:4rem} .pl-5{padding-left:5rem} .pl-6{padding-left:6rem} .pl-7{padding-left:7rem} .pr-1{padding-right:1rem} .pr-2{padding-right:2rem} .pr-3{padding-right:3rem} .pr-4{padding-right:4rem} .pr-5{padding-right:5rem} .pr-6{padding-right:6rem} .pr-7{padding-right:7rem} .pb-1{padding-bottom:1rem} .pb-2{padding-bottom:2rem} .pb-3{padding-bottom:3rem} .pb-4{padding-bottom:4rem} .pb-5{padding-bottom:5rem} .pb-6{padding-bottom:6rem} .pb-7{padding-bottom:7rem} .m-1{margin:1rem} .m-2{margin:2rem} .m-3{margin:3rem} .m-4{margin:4rem} .m-5{margin:5rem} .m-6{margin:6rem} .m-7{margin:7rem} .mt-1{margin-top:1rem} .mt-2{margin-top:2rem} .mt-3{margin-top:3rem} .mt-4{margin-top:4rem} .mt-5{margin-top:5rem} .mt-6{margin-top:6rem} .mt-7{margin-top:7rem} .ml-1{margin-left:1rem} .ml-2{margin-left:2rem} .ml-3{margin-left:3rem} .ml-4{margin-left:4rem} .ml-5{margin-left:5rem} .ml-6{margin-left:6rem} .ml-7{margin-left:7rem} .mr-1{margin-right:1rem} .mr-2{margin-right:2rem} .mr-3{margin-right:3rem} .mr-4{margin-right:4rem} .mr-5{margin-right:5rem} .mr-6{margin-right:6rem} .mr-7{margin-right:7rem} .mb-1{margin-bottom:1rem} .mb-2{margin-bottom:2rem} .mb-3{margin-bottom:3rem} .mb-4{margin-bottom:4rem} .mb-5{margin-bottom:5rem} .mb-6{margin-bottom:6rem} .mb-7{margin-bottom:7rem}
.grid-container {display: grid;grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% ;grid-template-rows:  40px auto}
 body * {transition: .5s }
textarea:focus, input:focus{ outline: none;}

/* more secure code */
.disable{ display: none !important;}
.bn{}
.logoimg{}
.success_message{}
.error_message{}

/* the social icons */
.facebook a  {background: url(../icons/social-5/facebook.svg) }
.twitter a  {background: url(../icons/social-5/twitter.svg) }
.google a  {background: url(../icons/social-5/google.svg) }
.instagram a  {background: url(../icons/social-5/instagram.svg) }
.linkedin a  {background: url(../icons/social-5/linkedin.svg) }
.youtube a  {background: url(../icons/social-5/youtube.svg) }
.pinterest a  {background: url(../icons/social-5/pinterest.svg) }
.icons a {width: 30px;height: 30px;display: block; background-repeat: no-repeat;background-position: center;margin: 10px;opacity: .8;}
.icons a:hover  {margin: 5px;opacity: 1;padding: 1px 10px}

/* the ads classes  */
.ad30x25 , .ad30x10 ,  .ad30x60 { display: none }



/* no major change */
.logo img {width: 20rem;max-width: 80%;margin-bottom: -10px; }
.icons svg {width: 25px;color: #999}
.icons div { display: inline-block;}
iframe  {width: 100%;height: 100%}
#map {height: 20rem}
nav a {color: #fff;text-transform: uppercase;}
a {text-decoration: none}
p {line-height: 1.5}

/* the custom code */


@font-face {font-family: f-b;src: url(../fonts/osans-b.ttf);}
@font-face {font-family: f-r;src: url(../fonts/playfair-r.ttf);}
@font-face {font-family: f-l;src: url(../fonts/osans-l.ttf);}
body {font-family: f-r }

/* the grid  */
header {grid-column: 1/11;grid-row: 1/6;}
.logo { grid-column: 2/4;grid-row: 2;}
.headline {grid-column: 2/6;grid-row: 3;z-index: 1}
.p-two {grid-column: 6/10;grid-row: 5;z-index: 1}
.p-one {grid-column: 1/11;grid-row: 6}
.breakline-one {grid-column: 1/11;grid-row: 8/10}
address {grid-column: 2/6;grid-row: 8}
aside {grid-column: 6/10;grid-row: 8}
.icons{grid-column: 1/11;grid-row: 9}
#map {grid-column: 1/11;grid-row: 10}
form {grid-column: 1/11;grid-row: 11}
footer {grid-column: 1/11;grid-row: 12}


header {
height: 100vh;
background: url(imgs/header.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.logo h3 {
color: #fff;
font-family: f-l;
}
nav {position: fixed;
top: 0px;
right: 0px;
z-index: 99999999;
background: #1119;
padding: 10px;
border-bottom-left-radius: 5px;}
nav a {
color: #959595;
font-size: 15px;
padding: 10px 5px;
transition: .5s;font-family: f-l;
text-transform: uppercase;
}
nav a:hover {
color: #fff;
cursor: pointer;
}
h1 {
color: #fff;
text-transform: uppercase;
padding-top: 20vh;
font-size: 70px;
text-align: left;display: inline-block;
}
h2 {
color: #fff;
text-transform: uppercase;
padding-top: 20px;
font-family: f-l;
}

body .ahr{
grid-column: 1/11;
grid-row: 7;
margin-bottom: 10vh;
}

body section a {
    text-decoration: none;
    z-index: 99999;
position: relative;
}
body .ahr a::after {
content: 'read more';
color:#000;
padding: 10px 30px ;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 2px;
transition: .1s;
border-bottom: 2px solid #2f548c;
}
body .ahr a:hover::after {
    padding: 15px 40px;
    transition: .4s;
    letter-spacing: 3px
}



 .p-two p {
color: #FFF;
margin: 0 auto;
border-top: 5px solid #32496c;
padding: 30px 30px 15px 30px;
 }

 .p-two {   padding-bottom: 20px;
background: #ffffff1a;
margin-bottom: 13vh;}
 .p-one {   padding-bottom: 5rem }

 article p {
    font-family: f-l ;padding-top: 2rem ;max-width: 750px;
margin: 0 auto;
padding-left: 50px;
padding-right: 50px;
 }
 .breakline-one{
z-index: -99;
background-color: #e8e8e8;
 }



h4 {
padding-top: 60px;
padding-bottom: 7px;
letter-spacing: 5px;
font-family: f-l;
border-bottom: 2px solid #2f548c;
font-size: 35px;display: table;
margin: 0 auto;}

p { font-family: f-l;
padding-top: 2rem;
max-width: 750px;
margin: 0 auto;
padding-left: 50px;
padding-right: 50px;color: #999;display: inline-block;
}

.icons h4 {
display: none;
}
.icons  {padding: 2rem 0 1rem 0 ;z-index: 9999}
.icons svg {width: 20px;
color: #999;padding: 15px 15px;
font-weight: 100;
margin-top: 25px;
transition: .5s;}
.icons svg:hover  {
    color: #2f548c;width: 50px; padding: 0
}



form h4 , form label {display: none;}

form {
    background-color: #e8e8e8;
padding: 3rem 25%
 ;width: 50% }

form p {
    padding:0;margin:0; font-size: 10px;
    color: #3bb728;
}
input , textarea {
    width: 70%;
    padding: 10px;
    margin: 10px 0;border: 1px solid #d5d5d5;
border-radius: 2px
}
form textarea {
    min-height: 150px
}
form .submit-div input {
    background-color: #4d6996;
border: none;
border-radius: 5px;
border: 1.5px solid #ccc;
color: #fff;max-width: 150px;
padding: 9px 25px;
font-size: 15px;cursor: pointer;
}

footer {
    color: #fff;
width: 100%;
background-color: #222;
text-align: center;
padding: 20px 0;font-family: f-l
}
footer a {
    color: #4d6996
}




/* the arabic code  */
body {direction: rtl;}
@font-face {font-family: c-r;src: url(../fonts/wasmfont-r.ttf);}
nav { border-radius: 0;border-bottom-right-radius: 20px}
p , h1 , h2 , h3 , h4 , label , h6 , a , input , textarea {letter-spacing: 0px !important;font-family: c-r !important}
nav {right: unset;left: 0;}
form h4 {text-align:right;}
form label {text-align: right;padding-right: 6.5%;}
address h4, aside h4 {text-align:right;}
body .ahr a::after {content: 'أقراء المزيد'; letter-spacing: 0px;}
body .ahr a:hover::after { letter-spacing: 0px;}


/* the resposive code*/

@media screen and (max-width: 970px ) {

    form h4 {       font-size: calc(19px + 2vw);    padding: 1rem 5%;   }
h1 , h2 { max-width: 80%;margin: auto   ;}
h1 {font-size: calc(30px + 2vw);padding-top: 14vh;} 

    article p {
        font-size: calc(.8vw + 8px)
    }
    header {grid-column: 1/11;grid-row: 1/6;}
    .headline {grid-column: 1/11;grid-row: 3;z-index: 1}
    .p-two {
    grid-column: 2/10;
}

    form {padding: 3rem 15%;
        width: 70%;}




}
@media screen and (max-width: 650px ) {
/* the grid  */
.breakline-one {grid-column: 1/11;grid-row: 8/11}
address {grid-column: 2/10;grid-row: 8}
aside {grid-column: 2/10;grid-row: 9}
.icons{grid-column: 1/11;grid-row: 10}
#map {grid-column: 1/11;grid-row: 11}
form {grid-column: 1/11;grid-row: 12;width: 90% ;padding: 3rem 5%}
footer {grid-column: 1/11;grid-row: 13}
h1 {text-align: center}
.logo {grid-column: 2/10; grid-row: 2; }

nav {
position: fixed;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 0;
border-top-right-radius: 5px;
margin-top: -160px
}
nav:hover , nav:active , nav:focus {margin-top: -0px }
nav a {display: block; }
                p {font-size: 15px !important; }
nav:after {
    content: '▽';padding: 5px 0 ;
    display: block;color: #fff
}
}

@media screen and (max-width: 450px ) {


        footer h6 {
            font-size: 10px
        }

}