 /* the reset code for the browser */
* {margin: 0; padding: 0; } html, body, div, span, applet, object, iframe, h1, h2, h3, h4, label, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
body {font-family: Domine;text-align: center;    overflow-y: scroll;overflow-x: hidden;margin: 0 auto;scroll-behavior: smooth}
.table {display: table;}
.table-c {display: table-cell;vertical-align: middle;}
.p-1{padding:1rem} .p-2{padding:2rem} .p-3{padding:3rem} .p-4{padding:4rem} .p-5{padding:5rem} .p-6{padding:6rem} .p-7{padding:7rem} .pt-1{padding-top:1rem} .pt-2{padding-top:2rem} .pt-3{padding-top:3rem} .pt-4{padding-top:4rem} .pt-5{padding-top:5rem} .pt-6{padding-top:6rem} .pt-7{padding-top:7rem} .pl-1{padding-left:1rem} .pl-2{padding-left:2rem} .pl-3{padding-left:3rem} .pl-4{padding-left:4rem} .pl-5{padding-left:5rem} .pl-6{padding-left:6rem} .pl-7{padding-left:7rem} .pr-1{padding-right:1rem} .pr-2{padding-right:2rem} .pr-3{padding-right:3rem} .pr-4{padding-right:4rem} .pr-5{padding-right:5rem} .pr-6{padding-right:6rem} .pr-7{padding-right:7rem} .pb-1{padding-bottom:1rem} .pb-2{padding-bottom:2rem} .pb-3{padding-bottom:3rem} .pb-4{padding-bottom:4rem} .pb-5{padding-bottom:5rem} .pb-6{padding-bottom:6rem} .pb-7{padding-bottom:7rem} .m-1{margin:1rem} .m-2{margin:2rem} .m-3{margin:3rem} .m-4{margin:4rem} .m-5{margin:5rem} .m-6{margin:6rem} .m-7{margin:7rem} .mt-1{margin-top:1rem} .mt-2{margin-top:2rem} .mt-3{margin-top:3rem} .mt-4{margin-top:4rem} .mt-5{margin-top:5rem} .mt-6{margin-top:6rem} .mt-7{margin-top:7rem} .ml-1{margin-left:1rem} .ml-2{margin-left:2rem} .ml-3{margin-left:3rem} .ml-4{margin-left:4rem} .ml-5{margin-left:5rem} .ml-6{margin-left:6rem} .ml-7{margin-left:7rem} .mr-1{margin-right:1rem} .mr-2{margin-right:2rem} .mr-3{margin-right:3rem} .mr-4{margin-right:4rem} .mr-5{margin-right:5rem} .mr-6{margin-right:6rem} .mr-7{margin-right:7rem} .mb-1{margin-bottom:1rem} .mb-2{margin-bottom:2rem} .mb-3{margin-bottom:3rem} .mb-4{margin-bottom:4rem} .mb-5{margin-bottom:5rem} .mb-6{margin-bottom:6rem} .mb-7{margin-bottom:7rem}
.grid-container {display: grid;grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% ;grid-template-rows:  40px auto}
*{transition: .5s}
textarea:focus, input:focus{ outline: none;}

/* more secure code */
.disable{ display: none !important;}
.bn{}
.logoimg{}
.success_message{}
.error_message{}

/* the social icons */
.facebook a  {background: url(../icons/social-6/facebook.svg) }
.twitter a  {background: url(../icons/social-6/twitter.svg) }
.google a  {background: url(../icons/social-6/google.svg) }
.instagram a  {background: url(../icons/social-6/instagram.svg) }
.linkedin a  {background: url(../icons/social-6/linkedin.svg) }
.youtube a  {background: url(../icons/social-6/youtube.svg) }
.pinterest a  {background: url(../icons/social-6/pinterest.svg) }
.icons a {width: 30px;height: 30px;display: block; background-repeat: no-repeat;background-position: center;margin: 5px;opacity: 1;}
.icons a:hover  {margin: 5px;opacity: 1;padding: 1px 10px}

/* the ads classes  */
.ad30x25 , .ad30x10 ,  .ad30x60 { display: none }

/* no major change */
.logo img {width: 20rem;max-width: 80%;margin-top: 0}
.icons svg {width: 25px;color: #999}
.icons div { display: inline-block;}
iframe  {width: 100%;height: 100%}
#map {height: 20rem}
/* the custom code */

/* the grid  */

header {grid-column: 1/11;grid-row: 1/6;}
.logo { grid-column: 2/6;grid-row: 1;}
.icons{grid-column: 6/10;grid-row: 1;text-align: right;}
.headline {grid-column: 1/8;grid-row: 3;z-index: 1}
.p-one {grid-column: 6/10;grid-row: 6}
.breakline-one {grid-column: 1/6;grid-row: 6}
.p-two {grid-column: 2/6;grid-row: 7}
.breakline-two {grid-column: 6/11;grid-row: 7}
form {grid-column: 2/6;grid-row: 8/10}
aside {grid-column: 6/10;grid-row: 8}
address {grid-column: 6/10;grid-row: 9}

#map {grid-column: 1/11;grid-row: 10}
footer {grid-column: 1/11;grid-row: 12 ;z-index: 2;}
.breakline-three {grid-column: 1/11;grid-row: 12;z-index: 1}
@font-face {font-family: f-b;src: url(../fonts/cormorant-b.ttf);}
@font-face {font-family: f-l;src: url(../fonts/cormorant-l.ttf);}
@font-face {font-family: f-r;src: url(../fonts/cormorant-r.ttf);}
body {font-family: f-r ; background-color: #fff}
nav {display: none;}
nav:hover {    padding-top: 10px;}
nav a {color: #dbe9ee;text-decoration: none; font-family: arial;text-transform: uppercase;line-height: 2;margin: 0 10px;}
nav a:hover {color: #a5d8ff;padding: 0px 5px ;font-size: 20px;line-height: 1}
header {height: 80vh;
opacity: .98 ;
background-image: url('imgs/header.svg');
background-repeat: no-repeat;
background-size: cover;z-index: 0;
transition: .2s; margin-left: -50%}
header:hover { opacity: 1}
.logo { z-index: 1;text-align: left;}
.logo h3 {
    font-size: 1.75em; 
    padding: 3.35em .5em; 
    color: #dbe9ee; 
    font-weight: 800; 
    letter-spacing: 0.225em;
    text-transform: uppercase;
}

body .ahr{
    grid-column: 1/8;
grid-row: 4;
margin-top: 10vh;
text-align: center
}

body section a {
    text-decoration: none;
    z-index: 99999;
position: relative;
}
body .ahr a::after {
content: 'read more';
color: #c0d6df;
padding: 10px 30px;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 2px;
transition: .1s;
font-weight: 620;
border-bottom: 2px solid;
}
body .ahr a:hover::after {
border: 2px solid;

    transition: unset;
}



.icons  {z-index: 1;}
.icons  h4 {display: none;}
.icons svg {    color: #a5d8ff;width: 20px;
padding: 10px 10px;
font-weight: 100;
margin-top: 10px;
transition: .5s;}
.icons svg:hover {    color: #FFF ;width: 40px;
padding: 0;}
.headline h1 {
font-size: calc(2vw + 15px);
margin: 0 auto;
color: #dbe9ee;
text-transform: uppercase;
padding-top: 2rem;
border-bottom: 3px solid #c0d6df;
display: inline-block;}
h2 {max-width: 90%;margin: 0 auto;padding-top: 1vw;color: #dbe9ee;}
span {
    color: #32aedb;
}
article h4 {display: none;}

.breakline-two, .breakline-one {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 550px 550px;
    min-height: 500px;
}


.breakline-one {
    background: url(imgs/pic01.png);}
    .breakline-two {
    background: url(imgs/pic02.png);}
    article {
        display: table;
    } 
article p  , address p , aside p {
    font-family: f-l;
    padding-top: 2rem;
    text-align: left;
    line-height: 30px;
    font-size: calc(9px + .5vw);    padding: 200px 0;}
    address p , aside p {padding: 1rem;display: inline-block;   
    }


address  , aside , form
{
    padding: 3rem 0
}
address h4  , aside h4 , form h4 , article h4  {
    font-size: 50px;text-align: left;
}
footer {
        background: #32aedb;
}
footer h6 {
color: #fff;
text-align: center;font-family: f-l;padding: 10px 0
}
footer h6 a { color: #a5d8ff;text-decoration: none;
}
form label {display: none;}
form p {text-align: left;font-size: 15px;
color: #3bb728;}
form {
    width: 80%;
text-align: left;
}
form input , form textarea  {
    width: calc(100% - 20px);
padding: 10px 10px;
margin: 10px 0;
border: 1px solid #d5d5d5;
border-radius: 2px;}
form .submit-div input {
    background-color: #32aedb;
    border: none;
    border-radius: 5px;
    border: 1.5px solid #e6e6e6;
    color: #fff;
    max-width: 150px;
    padding: 9px 25px;
    font-size: 15px;
    cursor: pointer;float: right;
}
form .submit-div input:hover {
    background-color: #0c91c2;

}
form textarea {
    min-height: 150px
}

/* the arabic code  */
body {direction: rtl;}
@font-face {font-family: c-r;src: url(../fonts/khalaadal-arabeh.ttf);}
@font-face {font-family: c-l;src: url(../fonts/din-next-a-r.otf);}
p , h1 , h2 , h3 , h4 , label , h6 , a , input , textarea {letter-spacing: 0px !important;font-family: c-r }
p {font-family: c-l !important}
.logo  {text-align: right;}
.icons {text-align: left;}
article p {text-align: right;}
.breakline-one , .breakline-two {transform: rotateY(180deg);}
address h4, aside h4, form h4, article h4 {text-align: right;}
.headline h1 { font-size: calc(3vw + 20px);}
.headline {grid-column: 3/11;}

aside , address {
        text-align: right;
}
body .ahr a::after {
content: 'أقراء المزيد';}
body .ahr {

    text-align: left;}


/* the responsive code  */

@media screen and (max-width: 1080px ) {
.breakline-two, .breakline-one {display: none;}
.p-one , .p-two {
    grid-column: 2/10;
}
article p { padding: 10px 0;}
article h4  {display: unset;}
h4 {
    text-align: center !important;
}
p {
    font-size: 15px !important;
text-align: center !important;
}
aside , address { grid-column: 2/10;}
form { grid-column: 2/10; grid-row: 10;width: 100%;}
#map {grid-row: 11}
footer {grid-row: 12}
}
@media screen and (max-width: 650px ) {
    .logo , .icons  {grid-column: 2/10; text-align: center !important; }
header {background-position: center; }
.headline {grid-column: 2/10;}

.icons {grid-column: 2/10; grid-row: 1; }

.logo img {margin-top: 10vw;}

}


@media screen and (max-width: 450px ) {


        footer h6 {
            font-size: 10px
        }

}